*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

ul[class],
ol[class] {
  padding: 0;
}

button {
  cursor: pointer;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  width: 1vw;
  background: #474c48;
}

::-webkit-scrollbar-thumb {
  background-color: #bc915f;
}

body {
  font-family: "Montserrat";
  overflow-x: hidden;
}

.burger {
  display: none;
}

.container {
  margin: 0 auto;
  width: 65%;
}

.bottomLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2.7vw 0;
}

.bottomLine .social-icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.3vw 1.3vw 1.3vw;
      grid-template-columns: 1.3vw 1.3vw 1.3vw;
  gap: 1.1vw;
}

.bottomLine .social-icons .s__icon {
  width: 1.3vw;
  height: 1.3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottomLine .social-icons .s__icon svg {
  width: 100%;
  height: 100%;
}

.bottomLine hr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 1.8vw;
}

.bottomLine span {
  font-size: 1.25vw;
  line-height: 1.5vw;
  color: #000000;
  opacity: 0.4;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo svg {
  width: 2.4vw;
  height: 2.4vw;
  margin-right: 1.15vw;
}

.logo span {
  font-weight: 700;
  font-style: normal;
  font-size: 1.25vw;
  line-height: 1.5vw;
  color: #ffffff;
}

hr {
  border-color: #bc915f;
}

.Promo {
  position: relative;
}

.Promo::before {
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  top: 0;
  width: 58.3%;
  height: 100%;
  background-color: #474c48;
}

.Promo .container header {
  padding: 1.7vw 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.17vw;
}

.Promo .container header .header_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.Promo .container header .header_icons .icon {
  outline: none;
  width: 1.56vw;
  height: 1.56vw;
  margin-left: 1.4vw;
}

.Promo .container header .header_icons .icon svg {
  width: 100%;
}

.Promo .container .body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 62.8% 37.2%;
      grid-template-columns: 62.8% 37.2%;
      grid-template-areas: "title reserveForm" "slider reserveForm";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2.6vw;
}

.Promo .container .body h1 {
  color: #fff;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  font-size: 1.875vw;
  line-height: 2.4vw;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 6vw;
  padding-right: 8.85vw;
}

.Promo .container .body h1 > span {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transform: scale(3);
          transform: scale(3);
  top: 1.5vw;
  left: 5.7vw;
}

.Promo .container .body h1 > span::before {
  position: absolute;
  content: "";
  width: 4.7vw;
  height: 0.24vw;
  background-color: #bc915f;
  bottom: 0.48vw;
  right: 102%;
}

.Promo .container .body h1 > span > span {
  color: #bc915f;
}

.Promo .container .body .swiper-container {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: slider;
  width: 25vw;
  margin: 0 auto;
  margin-right: 13.4vw;
  padding: 0 2vw;
  padding-bottom: 4vw;
}

.Promo .container .body .swiper-container .swiper-next,
.Promo .container .body .swiper-container .swiper-prev {
  position: absolute;
  z-index: 100;
  color: #bc915f;
  bottom: 7vw;
  cursor: pointer;
  width: 1vw;
  height: 1vw;
}

.Promo .container .body .swiper-container .swiper-next svg,
.Promo .container .body .swiper-container .swiper-prev svg {
  width: 100%;
  height: 100%;
}

.Promo .container .body .swiper-container .swiper-next {
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  right: 5%;
}

.Promo .container .body .swiper-container .swiper-prev {
  left: 5%;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet {
  width: 0.7vw;
  height: 0.7vw;
  margin: 0 0.78vw;
  opacity: 0.5;
  position: relative;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet:nth-of-type(1) {
  background: #fff;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet:nth-of-type(1).swiper-pagination-bullet-active::after {
  border: 0.1vw solid #fff;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet:nth-of-type(2) {
  background: #d18e0c;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet:nth-of-type(2).swiper-pagination-bullet-active::after {
  border: 0.1vw solid #d18e0c;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet:nth-of-type(3) {
  background: #242424;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet:nth-of-type(3).swiper-pagination-bullet-active::after {
  border: 0.1vw solid #242424;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet:nth-of-type(4) {
  background: #c4c4c4;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet:nth-of-type(4).swiper-pagination-bullet-active::after {
  border: 0.1vw solid #c4c4c4;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 0.8;
}

.Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-transform-origin: center;
          transform-origin: center;
  background-color: transparent;
  border-radius: 50%;
}

.Promo .container .body .ReserveDesk {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: reserveForm;
  padding-left: 1.1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.Promo .container .body .ReserveDesk p {
  text-align: center;
  font-weight: 300;
  font-size: 0.9vw;
  line-height: 1.7vw;
}

.Promo .container .body .ReserveDesk p:first-of-type {
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 2vw;
  margin-bottom: 0.5vw;
}

.Promo .container .body .ReserveDesk p:last-of-type {
  width: 95%;
  margin-bottom: 1.35vw;
}

.Promo .container .body .ReserveDesk form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.Promo .container .body .ReserveDesk form input {
  width: 100%;
  border: 1px solid #c0c0c0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.26vw;
  padding: 0.73vw;
  font-size: 0.93vw;
  line-height: 1.15vw;
  text-align: center;
  color: #797979;
  font-weight: 300;
  margin-bottom: 0.83vw;
}

.Promo .container .body .ReserveDesk form input::-webkit-input-placeholder {
  opacity: 0.5;
}

.Promo .container .body .ReserveDesk form input:-ms-input-placeholder {
  opacity: 0.5;
}

.Promo .container .body .ReserveDesk form input::-ms-input-placeholder {
  opacity: 0.5;
}

.Promo .container .body .ReserveDesk form input::placeholder {
  opacity: 0.5;
}

.Promo .container .body .ReserveDesk form button {
  background-color: #bc915f;
  border-radius: 0.26vw;
  width: 100%;
  border: none;
  padding: 0.73vw;
  font-size: 0.93vw;
  line-height: 1.15vw;
  color: #fff;
}

.DeskInfo {
  background-color: #474c48;
  background-image: url(./../prepare/People.png);
  background-repeat: no-repeat;
  background-position: 0 bottom;
  background-size: auto 33.75vw;
}

.DeskInfo .container {
  z-index: 1;
  height: 100%;
  width: 55%;
  margin-left: 45%;
  background-color: #474c48;
  padding-top: 14.7vw;
  padding-left: 5.2vw;
  padding-bottom: 8.125vw;
}

.DeskInfo .container p:first-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.6vw;
  color: #ffffff;
  width: 65%;
}

.DeskInfo .container p:first-of-type br {
  display: none;
}

.DeskInfo .container p:first-of-type b {
  font-weight: 300;
}

.DeskInfo .container hr {
  margin: 1.3vw 0;
}

.DeskInfo .container p:last-of-type {
  font-weight: 200;
  font-size: 1.25vw;
  line-height: 1.97vw;
  color: #ffffff;
  width: 64%;
}

.DeskInfo .photo {
  width: 45%;
}

.DeskInfo .photo span {
  position: relative;
  display: block;
  width: 16.25vw;
  height: 0.73vw;
  background-color: #bc915f;
  opacity: 0.5;
}

.DeskInfo .photo span:first-of-type {
  top: 4.5vw;
}

.DeskInfo .photo span:first-of-type::before {
  position: absolute;
  content: "";
  background-color: inherit;
  height: 100%;
  width: 14.27vw;
  bottom: calc(100% + 1vw);
}

.DeskInfo .photo span:first-of-type::after {
  position: absolute;
  content: "";
  background-color: inherit;
  height: 100%;
  width: 12.27vw;
  top: calc(100% + 1vw);
}

.DeskInfo .photo span:last-of-type {
  top: 40.5vw;
  left: 28.38vw;
}

.DeskInfo .photo span:last-of-type::before {
  position: absolute;
  content: "";
  background-color: inherit;
  height: 100%;
  width: 12.27vw;
  right: 0;
  bottom: calc(100% + 1vw);
}

.DeskInfo .photo span:last-of-type::after {
  position: absolute;
  content: "";
  right: 0;
  background-color: inherit;
  height: 100%;
  width: 14.27vw;
  top: calc(100% + 1vw);
}

.PhoneCharger {
  background-color: #474c48;
  background-image: url(./../prepare/PhoneChargerNew.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 45% 23.43vw;
  padding: 7.8vw 0;
}

.PhoneCharger .container {
  width: 55%;
  margin-right: 45%;
  z-index: 1;
  height: 100%;
  background-color: #474c48;
  padding-top: 7vw;
  padding-right: 4.1vw;
  padding-bottom: 7vw;
}

.PhoneCharger .container p:first-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.6vw;
  color: #ffffff;
  text-align: right;
  margin-right: 1.3vw;
}

.PhoneCharger .container hr {
  margin: 1.3vw 0;
}

.PhoneCharger .container p:last-of-type {
  font-weight: 200;
  font-size: 1.25vw;
  line-height: 1.97vw;
  color: #ffffff;
  width: 64%;
  margin-left: 36%;
}

.PhoneCharger .photo {
  width: 45%;
}

.PhoneCharger .photo span {
  position: relative;
  display: block;
  width: 16.25vw;
  height: 0.73vw;
  background-color: #bc915f;
  opacity: 0.5;
}

.PhoneCharger .photo span:first-of-type {
  top: 4.5vw;
  left: 28.38vw;
}

.PhoneCharger .photo span:first-of-type::before {
  position: absolute;
  content: "";
  background-color: inherit;
  height: 100%;
  right: 0;
  width: 14.27vw;
  bottom: calc(100% + 1vw);
}

.PhoneCharger .photo span:first-of-type::after {
  position: absolute;
  content: "";
  background-color: inherit;
  height: 100%;
  right: 0;
  width: 12.27vw;
  top: calc(100% + 1vw);
}

.PhoneCharger .photo span:last-of-type {
  top: 19.3vw;
  left: 0;
}

.PhoneCharger .photo span:last-of-type::before {
  position: absolute;
  content: "";
  background-color: inherit;
  height: 100%;
  width: 12.27vw;
  left: 0;
  bottom: calc(100% + 1vw);
}

.PhoneCharger .photo span:last-of-type::after {
  position: absolute;
  content: "";
  left: 0;
  background-color: inherit;
  height: 100%;
  width: 14.27vw;
  top: calc(100% + 1vw);
}

.BluetoothSpeakers {
  background-color: #474c48;
  background-image: url(./../prepare/BluetoothSpeakerNew.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 45% 100%;
}

.BluetoothSpeakers .container {
  z-index: 1;
  height: 100%;
  width: 55%;
  margin-left: 45%;
  background-color: #474c48;
  padding-top: 7vw;
  padding-left: 4.1vw;
  padding-bottom: 7vw;
}

.BluetoothSpeakers .container p:first-of-type {
  font-style: normal;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.6vw;
  color: #ffffff;
}

.BluetoothSpeakers .container hr {
  margin: 1.3vw 0;
}

.BluetoothSpeakers .container p:last-of-type {
  font-weight: 200;
  font-size: 1.25vw;
  line-height: 1.97vw;
  color: #ffffff;
  width: 64%;
}

.FeaturesTable.mobile {
  display: none;
}

.FeaturesTable.desktop-tablet {
  padding-top: 7vw;
  padding-bottom: 7.3vw;
  background-color: #474c48;
  margin-bottom: 23vw;
}

.FeaturesTable.desktop-tablet .container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.FeaturesTable.desktop-tablet .container p {
  text-align: center;
  color: #fff;
}

.FeaturesTable.desktop-tablet .container p.title {
  padding-bottom: 1.3vw;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.5vw;
  border-bottom: 2px solid #bc915f;
}

.FeaturesTable.desktop-tablet .container p.text {
  padding: 1vw 1.3vw;
  font-weight: 200;
  font-size: 1.25vw;
  line-height: 1.9vw;
}

.FeaturesTable.desktop-tablet .container hr {
  position: absolute;
  top: 0;
  left: calc((100% - 2px) / 2);
  height: 2px;
  width: 34.55vw;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  z-index: 100;
}

.FeaturesTable.desktop-tablet .container .photo {
  position: absolute;
  height: 22.4vw;
  width: 32.2vw;
  top: calc(100% + 2.6vw);
}

.FeaturesTable.desktop-tablet .container .photo:first-of-type {
  left: 0;
}

.FeaturesTable.desktop-tablet .container .photo:last-of-type {
  right: 0;
}

.FeaturesTable.desktop-tablet .container .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.TableLights {
  margin-bottom: 20vw;
}

.TableLights .container h1 {
  font-weight: 300;
  font-size: 2vw;
  line-height: 2.5vw;
  text-align: center;
  color: #333333;
  margin-bottom: 1.3vw;
}

.TableLights .container p {
  margin: 1.9vw 0;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 1.9vw;
  text-align: center;
  color: #333333;
}

.TableLights .container .photos {
  width: 100%;
  position: relative;
}

.TableLights .container .photos img {
  position: absolute;
  width: 50.5%;
  height: 23.5vw;
  top: 0;
}

.TableLights .container .photos img:first-of-type {
  left: 0;
}

.TableLights .container .photos img:last-of-type {
  right: 0;
}

.TableLights .container .photo {
  width: 100%;
  position: relative;
}

.TableLights .container .photo img {
  position: absolute;
  width: 100%;
}

.ForWork {
  background-color: #474c48;
  padding-top: 14.3vw;
}

.ForWork .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42% 58%;
      grid-template-columns: 42% 58%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ForWork .container .body {
  position: relative;
}

.ForWork .container .body h2 {
  display: inline-block;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 3vw;
  color: #ffffff;
  width: 85%;
  margin-bottom: 1.3vw;
}

.ForWork .container .body hr {
  position: absolute;
  width: 50vw;
  right: 4.2vw;
}

.ForWork .container .body ul {
  margin-top: 1.5vw;
  list-style: none;
}

.ForWork .container .body ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 2.5vw;
  color: #ffffff;
}

.ForWork .container .body ul li img {
  width: 1.45vw;
  height: 1.04vw;
  margin-right: 1.7vw;
}

.ForWork .container .photo {
  width: 37.5vw;
  height: 26vw;
}

.ForWork .container .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.Video {
  background-color: #474c48;
  padding-top: 9.16vw;
  padding-bottom: 8.4vw;
}

.Video .container {
  position: relative;
}

.Video .container .c-video {
  cursor: pointer;
}

.Video .container .c-video video {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 27.8vw;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.Video .container .c-video .psevdo-play {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: url(./../Preview.png);
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.Video .container .c-video .psevdo-play .play-container {
  width: 5.46vw;
  height: 6.2vw;
}

.Video .container .c-video .psevdo-play .play-container img {
  width: 100%;
  height: 100%;
}

.ReserveDeskBottom {
  background-color: #fff;
  background-image: url(./../prepare/ReserveDesk.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.ReserveDeskBottom .container {
  background-color: #fff;
  padding: 12.24vw 0;
  padding-right: 16.6vw;
  margin-left: 58.4vw;
  width: 41.6vw;
}

.ReserveDeskBottom .container p {
  text-align: center;
  font-weight: 300;
  font-size: 0.9vw;
  line-height: 1.7vw;
  margin-bottom: 1.3vw;
}

.ReserveDeskBottom .container p:first-of-type {
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 2vw;
  margin-bottom: 0.4vw;
}

.ReserveDeskBottom .container form {
  margin: 0 2.6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ReserveDeskBottom .container form input {
  width: 100%;
  border: 1px solid #c0c0c0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0.26vw;
  padding: 0.73vw;
  font-size: 0.93vw;
  line-height: 1.15vw;
  text-align: center;
  color: #797979;
  font-weight: 300;
  margin-bottom: 0.83vw;
}

.ReserveDeskBottom .container form input::-webkit-input-placeholder {
  opacity: 0.5;
}

.ReserveDeskBottom .container form input:-ms-input-placeholder {
  opacity: 0.5;
}

.ReserveDeskBottom .container form input::-ms-input-placeholder {
  opacity: 0.5;
}

.ReserveDeskBottom .container form input::placeholder {
  opacity: 0.5;
}

.ReserveDeskBottom .container form button {
  background-color: #bc915f;
  border-radius: 0.26vw;
  width: 100%;
  border: none;
  padding: 0.73vw;
  font-size: 0.93vw;
  line-height: 1.15vw;
  color: #fff;
}

footer {
  background-color: #474c48;
}

footer .container p {
  display: none;
}

footer .container .bottomLine span {
  color: #fff;
  opacity: 1;
}

@media (max-width: 1124px) and (min-width: 769px) {
  .Promo .container .body .ReserveDesk p {
    font-weight: 400;
    font-size: 1vw;
  }
  .Promo .container .body .PromoBody .swiper-container {
    width: 28vw;
  }
  .Promo .container .body .PromoBody .swiper-container .swiper-next,
  .Promo .container .body .PromoBody .swiper-container .swiper-prev {
    width: 1.3vw;
    height: 1.3vw;
  }
  .Promo .container .body .PromoBody .swiper-container .swiper-prev {
    left: 0%;
  }
  .Promo .container .body .PromoBody .swiper-container .swiper-next {
    right: 0%;
  }
  .Promo
.container
.body
.PromoBody
.swiper-container
.swiper-pagination
.swiper-pagination-bullet {
    width: 0.9vw;
    height: 0.9vw;
  }
  .DeskInfo .container p:last-of-type,
  .PhoneCharger .container p:last-of-type,
  .BluetoothSpeakers .container p:last-of-type,
  .FeaturesTable .container p.text {
    font-weight: 300;
  }
  .TableLights .container p,
  .ReserveDeskBottom .container p {
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  body {
    background-color: #474c48;
  }
  .container {
    width: 92.7%;
  }
  .logo svg {
    width: 3.65vw;
    height: 3.65vw;
    margin-right: 1.3vw;
  }
  .logo span {
    font-size: 2.35vw;
    line-height: 2.86vw;
  }
  hr {
    border-color: #bc915f;
  }
  .Promo {
    position: relative;
  }
  .Promo::before {
    display: none;
  }
  .Promo .container header {
    padding: 3vw 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3.17vw;
    position: relative;
  }
  .Promo .container header .header_icons .icon {
    display: none;
  }
  .Promo .container header .header_icons.active {
    margin-right: 2vw;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: 3.8vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Promo .container header .header_icons.active .icon {
    height: 100%;
    width: 2.7vw;
  }
  .Promo .container header .header_icons.active .icon:nth-of-type(1) {
    display: block;
  }
  .Promo .container header .header_icons.active .icon:nth-of-type(1) path {
    fill: white;
  }
  .Promo .container header .header_icons.active .icon:nth-of-type(2) {
    display: block;
  }
  .Promo .container header .header_icons.active .icon:nth-of-type(2) path {
    fill: white;
  }
  .Promo .container header .header_icons.active .icon:nth-of-type(3) {
    display: block;
  }
  .Promo .container header .header_icons.active .icon:nth-of-type(3) path {
    stroke: white;
  }
  .Promo .container header .burger {
    display: block;
    width: 3.5vw;
    height: 3.5vw;
    position: relative;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .Promo .container header .burger span {
    top: calc((100% - 0.26vw) / 2);
    left: 0;
    position: absolute;
    border-radius: 0.65vw;
    width: 3.5vw;
    height: 0.26vw;
    background-color: #fff;
  }
  .Promo .container header .burger span::before {
    position: absolute;
    content: "";
    border-radius: 0.65vw;
    width: 3.5vw;
    height: 0.26vw;
    background-color: #fff;
    left: 0;
    top: -0.8vw;
  }
  .Promo .container header .burger span::after {
    position: absolute;
    content: "";
    border-radius: 0.65vw;
    width: 3.5vw;
    height: 0.26vw;
    background-color: #fff;
    left: 0;
    top: 0.8vw;
  }
  .Promo .container header .burger.active {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .Promo .container .body {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas: "title title" "slider reserveForm";
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    gap: 0;
    padding: 0;
  }
  .Promo .container .body h1 {
    font-size: 4.7vw;
    line-height: 5.7vw;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 13vw;
    margin-left: 7.8vw;
  }
  .Promo .container .body h1 > span {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transform: scale(2.6);
            transform: scale(2.6);
    top: 1.5vw;
    left: 12vw;
  }
  .Promo .container .body h1 > span::before {
    position: absolute;
    content: "";
    width: 13.3vw;
    height: 0.7vw;
    background-color: #bc915f;
    bottom: 0.48vw;
    bottom: 0.9vw;
    right: 105.5%;
  }
  .Promo .container .body h1 > span > span {
    color: #bc915f;
  }
  .Promo .container .body .swiper-container {
    width: 38vw;
    margin: 0;
    padding-bottom: 8vw;
    margin-left: 3vw;
    margin-top: 2vw;
  }
  .Promo .container .body .swiper-container .swiper-next,
  .Promo .container .body .swiper-container .swiper-prev {
    bottom: 18vw;
    width: 2vw;
    height: 2vw;
  }
  .Promo .container .body .swiper-container .swiper-next svg,
  .Promo .container .body .swiper-container .swiper-prev svg {
    width: 100%;
    height: 100%;
  }
  .Promo .container .body .swiper-container .swiper-next {
    right: 0%;
  }
  .Promo .container .body .swiper-container .swiper-prev {
    left: 0%;
  }
  .Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 1.2vw;
    height: 1.2vw;
    margin: 0 1.5vw;
  }
  .Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    top: -0.56vw;
    left: -0.56vw;
    right: -0.56vw;
    bottom: -0.56vw;
    width: auto;
    height: auto;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .Promo .container .body .ReserveDesk {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    padding: 0;
  }
  .Promo .container .body .ReserveDesk p {
    color: #fff;
    text-align: center;
  }
  .Promo .container .body .ReserveDesk p:first-of-type {
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 3.9vw;
    margin-bottom: 0.5vw;
  }
  .Promo .container .body .ReserveDesk p:last-of-type {
    width: 95%;
    font-weight: 200;
    margin-bottom: 2vw;
    font-size: 2.1vw;
    line-height: 4vw;
  }
  .Promo .container .body .ReserveDesk form {
    width: 100%;
  }
  .Promo .container .body .ReserveDesk form input {
    border-radius: 0.65vw;
    padding: 1.8vw;
    font-size: 2vw;
    line-height: 2.5vw;
    margin-bottom: 2vw;
  }
  .Promo .container .body .ReserveDesk form button {
    background-color: #bc915f;
    width: 100%;
    border: none;
    border-radius: 0.65vw;
    padding: 1.9vw;
    font-size: 2.1vw;
    line-height: 2.5vw;
    color: #fff;
  }
  .Promo .container .bottomLine {
    padding: 3.5vw 0;
  }
  .Promo .container .bottomLine .social-icons {
    -webkit-transform: scale(1.5) translateX(1vw);
            transform: scale(1.5) translateX(1vw);
    -ms-grid-columns: 1.8vw 1.8vw 1.8vw;
        grid-template-columns: 1.8vw 1.8vw 1.8vw;
    gap: 1.5vw;
  }
  .Promo .container .bottomLine .social-icons .s__icon {
    width: 1.8vw;
    height: 1.8vw;
  }
  .Promo .container .bottomLine hr {
    margin: 0;
    margin-left: 7vw;
    margin-right: 1vw;
  }
  .Promo .container .bottomLine span {
    font-size: 2.4vw;
    line-height: 2.8vw;
    font-weight: 300;
    color: #fff;
    -webkit-transform: translateX(3vw);
            transform: translateX(3vw);
  }
  .DeskInfo {
    background-size: auto 100%;
  }
  .DeskInfo .container {
    margin-top: 6vw;
    padding-top: 2vw;
    padding-left: 4.3vw;
    padding-bottom: 2vw;
    width: 52%;
    margin-left: 48%;
  }
  .DeskInfo .container p:first-of-type {
    font-weight: 300;
    font-size: 2.8vw;
    line-height: 3.5vw;
    width: 95%;
  }
  .DeskInfo .container hr {
    margin: 2.2vw 0;
  }
  .DeskInfo .container p:last-of-type {
    font-weight: 200;
    font-size: 2.15vw;
    line-height: 3.3vw;
    color: #ffffff;
    width: 95%;
  }
  .DeskInfo .photo {
    width: 48%;
  }
  .PhoneCharger {
    background-size: 48% 25.1vw;
    padding: 0vw 0;
    margin: 9vw 0;
  }
  .PhoneCharger .container {
    width: 52%;
    margin-right: 48%;
    z-index: 1;
    height: 100%;
    background-color: #474c48;
    padding-top: 3vw;
    padding-right: 4.1vw;
    padding-bottom: 3vw;
  }
  .PhoneCharger .container p:first-of-type {
    font-weight: 300;
    font-size: 2.8vw;
    line-height: 3.5vw;
    width: 95%;
    margin-left: 2.2vw;
  }
  .PhoneCharger .container hr {
    margin: 2.2vw 0;
  }
  .PhoneCharger .container p:last-of-type {
    font-weight: 200;
    font-size: 2.15vw;
    line-height: 3.3vw;
    color: #ffffff;
    width: 90%;
    margin-left: 4.8vw;
    text-align: right;
  }
  .PhoneCharger .photo {
    width: 48%;
  }
  .BluetoothSpeakers {
    background-size: 48% 100%;
  }
  .BluetoothSpeakers .container {
    width: 52%;
    margin-left: 48%;
    padding-top: 3.5vw;
    padding-left: 4vw;
    padding-bottom: 3.5vw;
  }
  .BluetoothSpeakers .container p:first-of-type {
    font-weight: 300;
    font-size: 2.8vw;
    line-height: 3.5vw;
    width: 95%;
  }
  .BluetoothSpeakers .container hr {
    margin: 2.2vw 0;
  }
  .BluetoothSpeakers .container p:last-of-type {
    font-weight: 200;
    font-size: 2.1vw;
    line-height: 3.2vw;
    color: #ffffff;
    width: 95%;
  }
  .FeaturesTable {
    margin: 0;
    margin-top: 7vw;
    padding-bottom: 7.3vw;
  }
  .FeaturesTable.desktop-tablet {
    margin-bottom: 0;
  }
  .FeaturesTable.desktop-tablet .container {
    width: 86.4%;
  }
  .FeaturesTable.desktop-tablet .container p.title {
    font-weight: 300;
    font-size: 2.8vw;
    line-height: 3.5vw;
  }
  .FeaturesTable.desktop-tablet .container p.text {
    padding: 1vw 1.3vw;
    font-weight: 200;
    font-size: 2vw;
    line-height: 3.4vw;
  }
  .FeaturesTable.desktop-tablet .container hr {
    width: 48.8vw;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    z-index: 100;
  }
  .FeaturesTable.desktop-tablet .container .photo {
    height: 30.2vw;
    width: 42.9vw;
    top: calc(100% + 1.7vw);
  }
  .TableLights {
    padding-top: 28vw;
    padding-bottom: 24vw;
    background-color: #fff;
    margin-bottom: 18vw;
  }
  .TableLights .container {
    width: 86.4%;
  }
  .TableLights .container h1 {
    font-weight: 400;
    font-size: 2.8vw;
    line-height: 3.5vw;
  }
  .TableLights .container p {
    margin: 2vw 0;
    margin-bottom: 2.5vw;
    font-weight: 300;
    font-size: 2.1vw;
    line-height: 3.4vw;
    text-align: center;
    color: #333333;
  }
  .ForWork {
    padding-top: 4.3vw;
    padding: 0;
    background-image: url(./../prepare/PerfectForWorkNew.png);
    background-repeat: no-repeat;
    background-size: auto 35vw;
    background-position: right center;
  }
  .ForWork .container {
    background-color: #474c48;
    display: block;
    width: 52%;
    margin-right: 48%;
    padding-left: 12.1vw;
  }
  .ForWork .container .body h2 {
    font-weight: 300;
    font-size: 3.125vw;
    line-height: 3.77vw;
    width: 75%;
    margin-bottom: 3vw;
  }
  .ForWork .container .body hr {
    right: 4.29vw;
  }
  .ForWork .container .body ul {
    margin-top: 3vw;
  }
  .ForWork .container .body ul li {
    font-weight: 200;
    font-size: 2.3vw;
    line-height: 4.7vw;
  }
  .ForWork .container .body ul li img {
    width: 2.3vw;
    height: 1.7vw;
    margin-right: 2.7vw;
  }
  .ForWork .container .photo {
    display: none;
  }
  .Video {
    padding-top: 10.8vw;
    padding-bottom: 8vw;
  }
  .Video .container {
    width: 100vw;
  }
  .Video .container .c-video video {
    height: 43.125vw;
  }
  .Video .container .c-video .psevdo-play .play-container {
    width: 11.2vw;
    height: 12.3vw;
  }
  .ReserveDeskBottom {
    background-color: #474c48;
    background-image: url(./../prepare/ReserveDesk.png);
    background-size: 48vw auto;
    background-position: left center;
    margin-bottom: 8vw;
  }
  .ReserveDeskBottom .container {
    background-color: #474c48;
    padding: 0 3vw;
    margin-left: 48%;
    width: 52%;
  }
  .ReserveDeskBottom .container p {
    color: #fff;
    font-weight: 200;
    font-size: 2vw;
    line-height: 4vw;
    width: 100%;
    letter-spacing: 0.1vw;
    margin-bottom: 2vw;
  }
  .ReserveDeskBottom .container p br {
    display: none;
  }
  .ReserveDeskBottom .container p:first-of-type {
    width: 100%;
    font-weight: 500;
    font-size: 2.34vw;
    line-height: 3.8vw;
    margin-bottom: 1vw;
  }
  .ReserveDeskBottom .container form {
    margin: 0;
    width: 100%;
  }
  .ReserveDeskBottom .container form input {
    border-radius: 0.65vw;
    padding: 1.8vw;
    font-size: 2vw;
    line-height: 2.6vw;
    font-weight: 300;
    margin-bottom: 2vw;
  }
  .ReserveDeskBottom .container form button {
    font-weight: 600;
    letter-spacing: 0.1vw;
    border-radius: 0.65vw;
    padding: 1.8vw;
    font-size: 2vw;
    line-height: 2.6vw;
  }
  footer {
    background: #3c3c3c;
    -webkit-backdrop-filter: blur(30px);
            backdrop-filter: blur(30px);
  }
  footer .container {
    width: 97%;
  }
  footer .container .bottomLine {
    padding: 2.47vw 0;
  }
  footer .container .bottomLine .logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container .bottomLine .logo svg {
    width: 2.34vw;
    height: 2.34vw;
    margin-right: 1vw;
  }
  footer .container .bottomLine .logo span {
    font-size: 1.1vw;
    letter-spacing: 0.1vw;
    line-height: 1;
  }
  footer .container .bottomLine .social-icons {
    -ms-grid-columns: 1.2vw 1.2vw 1.2vw;
        grid-template-columns: 1.2vw 1.2vw 1.2vw;
    gap: 1.5vw;
  }
  footer .container .bottomLine .social-icons .s__icon {
    width: 1.2vw;
    height: 1.2vw;
  }
  footer .container .bottomLine .social-icons .s__icon path {
    fill: #fff;
    stroke-width: 1px;
  }
  footer .container .bottomLine hr {
    margin: 0 1.9vw;
    border: none;
    height: 1px;
    background-color: #bc915f;
  }
  footer .container .bottomLine span {
    font-size: 2.4vw;
    line-height: 2.8vw;
    font-weight: 300;
    color: #fff;
  }
}

@media (max-width: 460px) {
  .container {
    width: 90.3%;
  }
  .logo svg {
    width: 7.46vw;
    height: 7.46vw;
    margin-right: 2.6vw;
  }
  .logo span {
    font-size: 4.8vw;
    line-height: 5.86vw;
  }
  hr {
    border-color: #bc915f;
  }
  .Promo .container header {
    padding: 6.13vw 0;
    margin-bottom: 7.2vw;
  }
  .Promo .container header .header_icons {
    display: none;
  }
  .Promo .container header .burger {
    width: 7.2vw;
    height: 7.2vw;
  }
  .Promo .container header .burger span {
    top: calc((100% - 0.53vw) / 2);
    border-radius: 1.3vw;
    width: 7.2vw;
    height: 0.53vw;
  }
  .Promo .container header .burger span::before {
    border-radius: 1.3vw;
    width: 7.2vw;
    height: 0.53vw;
    top: -1.8vw;
  }
  .Promo .container header .burger span::after {
    border-radius: 1.3vw;
    width: 7.2vw;
    height: 0.53vw;
    top: 1.8vw;
  }
  .Promo .container .body {
    display: block;
  }
  .Promo .container .body h1 {
    font-size: 6.4vw;
    line-height: 7.73vw;
    width: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 13.6vw;
  }
  .Promo .container .body h1 > span {
    position: static;
    -webkit-transform: scale(1);
            transform: scale(1);
    font-size: 25.6vw;
    line-height: 27.2vw;
  }
  .Promo .container .body h1 > span::before {
    display: none;
  }
  .Promo .container .body h1 > span > span {
    display: none;
  }
  .Promo .container .body .swiper-container {
    width: 100vw;
    -webkit-transform: translateX(-5.3vw);
            transform: translateX(-5.3vw);
    margin: 0 auto;
    padding: 0 12vw;
    padding-bottom: 15vw;
    margin-bottom: 8vw;
  }
  .Promo .container .body .swiper-container .swiper-next,
  .Promo .container .body .swiper-container .swiper-prev {
    bottom: 35vw;
    width: 4vw;
    height: 4vw;
  }
  .Promo .container .body .swiper-container .swiper-next {
    right: 5%;
  }
  .Promo .container .body .swiper-container .swiper-prev {
    left: 5%;
  }
  .Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet {
    width: 2.3vw;
    height: 2.3vw;
    margin: 0 2.5vw;
  }
  .Promo .container .body .swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
    top: -0.7vw;
    left: -0.7vw;
    right: -0.7vw;
    bottom: -0.7vw;
    width: auto;
    height: auto;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  .Promo .container .body .ReserveDesk p:first-of-type {
    font-size: 4.8vw;
    line-height: 7.73vw;
    margin-bottom: 1vw;
  }
  .Promo .container .body .ReserveDesk p:last-of-type {
    margin-bottom: 6vw;
    font-size: 4.26vw;
    line-height: 6.93vw;
  }
  .Promo .container .body .ReserveDesk form input {
    border-radius: 0.65vw;
    padding: 3.4vw;
    font-size: 4.34vw;
    line-height: 5.3vw;
    margin-bottom: 3.9vw;
  }
  .Promo .container .body .ReserveDesk form button {
    border-radius: 0.65vw;
    padding: 3.5vw;
    font-size: 4.34vw;
    line-height: 5.3vw;
  }
  .Promo .container .bottomLine {
    display: none;
  }
  .DeskInfo {
    background-size: auto 82vw;
    background-position: -6vw 8.45vw;
    padding-top: 97vw;
    background-color: transparent;
  }
  .DeskInfo .container {
    width: 90.3%;
    margin: 0 auto;
    padding: 0;
  }
  .DeskInfo .container p:first-of-type {
    font-size: 5.8vw;
    line-height: 8.7vw;
    text-align: center;
    width: 100%;
  }
  .DeskInfo .container p:first-of-type br {
    display: inline;
  }
  .DeskInfo .container p:first-of-type span {
    font-weight: 500;
  }
  .DeskInfo .container hr {
    margin: 5.8vw 0;
  }
  .DeskInfo .container p:last-of-type {
    font-weight: 200;
    font-size: 4vw;
    line-height: 160.4%;
    width: 100%;
    text-align: justify;
  }
  .DeskInfo .photo {
    display: none;
  }
  .PhoneCharger {
    margin: 11.6vw 0;
    background-size: auto 52vw;
    background-position: center top;
    padding-top: 58vw;
    background-color: transparent;
  }
  .PhoneCharger .container {
    width: 90.3%;
    margin: 0 auto;
    padding: 0;
  }
  .PhoneCharger .container p:first-of-type {
    font-size: 5.8vw;
    line-height: 8.7vw;
    text-align: center;
    font-weight: 500;
    width: 78%;
    margin: 0 auto;
  }
  .PhoneCharger .container hr {
    margin: 5.8vw 0;
  }
  .PhoneCharger .container p:last-of-type {
    font-weight: 200;
    font-size: 4vw;
    line-height: 160.4%;
    width: 100%;
    text-align: justify;
    margin: 0;
  }
  .PhoneCharger .photo {
    display: none;
  }
  .BluetoothSpeakers {
    margin: 11.6vw 0;
    background-size: auto 52vw;
    background-position: center top;
    padding-top: 58vw;
    background-color: transparent;
  }
  .BluetoothSpeakers .container {
    width: 90.3%;
    margin: 0 auto;
    padding: 0;
  }
  .BluetoothSpeakers .container p:first-of-type {
    font-size: 5.8vw;
    line-height: 8.7vw;
    text-align: center;
    font-weight: 500;
    width: 100%;
    margin: 0;
  }
  .BluetoothSpeakers .container hr {
    margin: 5.8vw 0;
  }
  .BluetoothSpeakers .container p:last-of-type {
    font-weight: 200;
    font-size: 4vw;
    line-height: 160.4%;
    width: 100%;
    text-align: justify;
    margin: 0;
  }
  .BluetoothSpeakers .photo {
    display: none;
  }
  .FeaturesTable.desktop-tablet {
    display: none;
  }
  .FeaturesTable.mobile {
    display: block;
    margin: 0;
    padding: 0;
    margin: 11.6vw 0;
    background-repeat: no-repeat;
    background-size: auto 70.3vw;
    background-position: center top;
    padding-top: 76vw;
  }
  .FeaturesTable.mobile .container {
    background-color: #474c48;
    display: block;
    width: 100%;
    color: #fff;
  }
  .FeaturesTable.mobile .container p:first-of-type {
    font-size: 5.8vw;
    line-height: 8.7vw;
    text-align: center;
    font-weight: 500;
    width: 90.3%;
    margin: 0 auto;
  }
  .FeaturesTable.mobile .container hr {
    margin: 5.8vw auto;
    width: 90.3%;
  }
  .FeaturesTable.mobile .container p:last-of-type {
    font-weight: 200;
    font-size: 4vw;
    line-height: 160.4%;
    width: 90.3%;
    text-align: justify;
    margin: 0 auto;
  }
  .mob-1 {
    background-image: url(./../prepare/StorageNew.png);
  }
  .mob-2 {
    background-image: url(./../prepare/DeskPadNew.png);
  }
  .TableLights {
    background-color: #474c48;
    display: block;
    margin: 0;
    padding: 0;
    margin: 11.6vw 0;
    background-image: url(./../prepare/RGBLights.png);
    background-repeat: no-repeat;
    background-size: auto 35.2vw;
    background-position: center top;
    padding-top: 40.8vw;
  }
  .TableLights .container {
    background-color: #474c48;
    display: block;
    width: 100%;
  }
  .TableLights .container h1 {
    font-size: 5.8vw;
    line-height: 8.7vw;
    text-align: center;
    font-weight: 500;
    width: 90.3%;
    margin: 0 auto;
    color: #fff;
  }
  .TableLights .container hr {
    margin: 5.8vw auto;
    width: 90.3%;
  }
  .TableLights .container p {
    font-weight: 200;
    font-size: 4vw;
    line-height: 160.4%;
    width: 90.3%;
    text-align: justify;
    margin: 0 auto;
    color: #fff;
  }
  .TableLights .container .photo {
    display: none;
  }
  .ForWork {
    background-color: #474c48;
    display: block;
    margin: 0;
    padding: 0;
    margin: 11.6vw 0;
    background-image: url(./../prepare/PerfectForWorkNew.png);
    background-repeat: no-repeat;
    background-size: auto 75vw;
    background-position: center top;
    padding-top: 80vw;
  }
  .ForWork .container {
    background-color: #474c48;
    display: block;
    width: 90.3%;
    margin: 0 auto;
    padding: 0;
  }
  .ForWork .container .body h2 {
    font-weight: 300;
    font-size: 5.8vw;
    line-height: 7.2vw;
    width: 100%;
    text-align: center;
    margin-bottom: 7.2vw;
  }
  .ForWork .container .body hr {
    position: static;
    width: 100%;
  }
  .ForWork .container .body ul {
    margin-top: 7.2vw;
  }
  .ForWork .container .body ul li {
    font-weight: 200;
    font-size: 5.8vw;
    line-height: 7vw;
    margin-bottom: 6vw;
  }
  .ForWork .container .body ul li img {
    width: 6.7vw;
    height: 4.8vw;
    margin-right: 8vw;
  }
  .Video {
    padding: 0;
  }
  .Video .container {
    width: 100vw;
  }
  .Video .container .c-video video {
    height: 43.125vw;
  }
  .Video .container .c-video .psevdo-play {
    background-image: url(./../PreviewMobile.png);
  }
  .Video .container .c-video .psevdo-play .play-container {
    width: 11.2vw;
    height: 12.3vw;
  }
  .ReserveDeskBottom {
    background-image: url(./../prepare/ReserveDesk.png);
    background-size: auto 64vw;
    background-position: center bottom;
    margin: 0;
    padding-bottom: 64vw;
  }
  .ReserveDeskBottom .container {
    background-color: #474c48;
    padding: 19vw 3vw;
    margin: 0 auto;
    width: 90.3%;
  }
  .ReserveDeskBottom .container p {
    font-weight: 200;
    font-size: 3.8vw;
    line-height: 6.3vw;
    width: 100%;
    letter-spacing: 0.1vw;
    margin-bottom: 4vw;
  }
  .ReserveDeskBottom .container p br {
    display: none;
  }
  .ReserveDeskBottom .container p:first-of-type {
    width: 100%;
    font-size: 4.34vw;
    line-height: 7vw;
    line-height: 3.8vw;
    margin-bottom: 2vw;
  }
  .ReserveDeskBottom .container form {
    margin: 0;
    width: 100%;
  }
  .ReserveDeskBottom .container form input {
    border-radius: 0.65vw;
    padding: 3.4vw;
    font-size: 4.34vw;
    line-height: 5.3vw;
    margin-bottom: 3.9vw;
  }
  .ReserveDeskBottom .container form button {
    letter-spacing: normal;
    border-radius: 0.65vw;
    padding: 3.5vw;
    font-size: 4.34vw;
    line-height: 5.3vw;
  }
  footer {
    background-color: #474c48;
    padding: 5.3vw 0;
  }
  footer .container {
    width: 90.3%;
  }
  footer .container .bottomLine {
    padding: 0;
  }
  footer .container .bottomLine .logo svg {
    width: 8.2vw;
    height: 8.2vw;
    margin-right: 1.9vw;
  }
  footer .container .bottomLine .logo span {
    font-weight: 400;
    font-size: 4.3vw;
    line-height: 5.3vw;
  }
  footer .container .bottomLine .social-icons {
    -ms-grid-columns: 4.8vw 4.8vw 4.8vw;
        grid-template-columns: 4.8vw 4.8vw 4.8vw;
    gap: 4.3vw;
  }
  footer .container .bottomLine .social-icons .s__icon {
    width: 4.8vw;
    height: 4.8vw;
  }
  footer .container .bottomLine hr {
    display: none;
  }
  footer .container p {
    margin-top: 4.1vw;
    text-align: center;
    display: block;
    font-size: 3.8vw;
    line-height: 4.8vw;
    font-weight: 200;
    color: #ffffff;
    opacity: 0.4;
  }
}
/*# sourceMappingURL=styles.css.map */